@import url(https://vortixsys.pages.dev/fonts/library.css);

body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #c0c0c0;
}

header {
    font-family: sans-serif;
    /* background-color: #3f48cc; */
    background: linear-gradient(90deg, #000080, #1084d0);
    padding: 10px;
    color: white;
    text-align: center;
    font-size: 24px;
}

.editor-container {
    width: 96%;
    margin: 0 auto; /* Centers the container horizontally */
}

:root {
--rb-color-panel: #c0c0c0;
--rb-color-icon: #000000;
}

#editor {
    height: 600px;
    margin: 20px auto;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.button-container {
    margin: 20px auto;
    text-align: center;
}

.btn {
    font-family: sans-serif;
    padding: 10px 20px;
    margin: 5px;
    background-color: #000080;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.btn:hover {
    background-color: #000080;
}
